name: workflow-release
on: push
jobs:
  testing:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: packer version
        run:  packer version
