---
name: tag-to-docker
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v3
      - name: Run custom action
        uses: ./.github/actions/build-push-deploy
        with:
          who-to-greet: haha
