name: release-deployment
on:
  push:
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      REPOS: a b c d
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: checkout gitops
        uses: actions/checkout@master
        with:
          repository: yellowmegaman/golaunch
          path: squish
          token: "${{secrets.TKN}}"
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          token: ${{secrets.TKN}}
          change: "echo $(date) | tee date.txt"
          title: "new"
          body: "new"
          working_directory: "squish"
          branch: "wowow4"
