name: release-deployment
on:
  push:
    tags:
      - '*'
env:
  KUBEVAL_VERSION: v0.16.1
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          change: "echo $(date) | tee date.txt && ls"
          title: "title text"
          pr_branch: "hello5"
          target_branch: "master"
          working_directory: "swisszzzzz"
