name: release-deployment
on:
  push:
    branches:
      - main
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          change: "echo $(date) | tee date.txt && ls"
          title: "title text"
          body: "sometext description"
          pr_branch: "hello2"
          target_branch: "master"
          working_directory: "swisszzzzz"
      - name: check env
        run:  env | sort
