name: release-deployment
on:
  push:
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: env
        run: env | sort
