name: release-deployment
on: repository_dispatch
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: semverbump
        run:  |
          go get github.com/coreos/go-semver
          go run tools/bump.go 1.2.4 patch
          go run tools/bump.go 1.2.4 minor
          go run tools/bump.go 1.2.4 major
