name: release-deployment
on:
  push:
    tags:
      - '*'
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: changelog
        id: changelog
        run: |
          time=$(git log -1 --date=short --format=%ai $(git log --oneline $(git show-ref --tags |tail -2 |head -1|awk '{print $1}')..@|tail -1|awk '{print $1}')|sed 's/ /T/g' )
          changelog=$(gh pr list -B main -s closed --json 'title,createdAt,url'  -q ".[]|select(.createdAt >= \"$time\")" | jq -r '[ .title, .url]|@tsv')
          changelog="${changelog//'%'/'%25'}"
          changelog="${changelog//$'\n'/'%0A'}"
          changelog="${changelog//$'\r'/'%0D'}"
          echo "::set-output name=changelog::$changelog"
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          change: "echo $(date) | tee date.txt && ls"
          title: "title text"
          body: "${{ steps.changelog.outputs.changelog }}"
          pr_branch: "hello3"
          target_branch: "master"
          working_directory: "swisszzzzz"
      - name: check env
        run:  env | sort
