name: release-deployment
on:
  push:
    tags:
      - '*'
env:
  KUBEVAL_VERSION: v0.16.1
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: pr-donwstream
        uses: worldr/pr-downstream@main
        with:
          change: "echo $(date) | tee date.txt && ls"
          repo: "yellowmegaman/gitops-template"
          skip_release: true
        env:
          GH_TOKEN: ${{secrets.TKN}}
