name: release-deployment
on:
  push:
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
#      - name: checkout gitops
#        uses: actions/checkout@master
#        with:
#          repository: worldr/gitops
#          path: swiss
#          token: "${{secrets.TKN}}"
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          change: "echo $(date) | tee date.txt && ls"
          title: "title text"
          body: "sometext description"
          pr_branch: "hello2"
          target_branch: "master"
          working_directory: "swisszzzzz"
