name: release-deployment
on:
  push:
    tags:
      - '*'
env:
  KUBEVAL_VERSION: v0.16.1
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: git ver
        run: git --version
      - name: env
        run: env | sort
      - name: date
        run: date | tee date.txt
      - name: check date
        run: cat date.txt
