name: release-deployment
on:
  push:
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      REPOS: a b c d
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          token: ${{secrets.TKN}}
          clone_path: "check"
          change: "echo $(date) | tee check/date.txt"
          title: "dummy"
          body: "dummy"
