name: release-deployment
on:
  push:
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      REPOS: a b c d
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          token: ${{secrets.TKN}}
          change: "echo $(date) | tee date.txt"
          title: "title text"
          body: "sometext description\nokay"
          pr_branch: "haha"
          target_branch: "master"
