name: release-deployment
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: checkout gitops repo
        uses: actions/checkout@v2
        with:
          repository: worldr/gitops
          path: gitops
          token: ${{ secrets.DELETE_ME }}
      - name: check gitops
        run: ls gitops
      - name: Run my private action
        uses: ./gitops/actions/k3s-gha
        with:
          repo: emik0
          k3s_version: "v1.22.2-rc1+k3s1"
      - name: check
        run:  kubectl -n kube-system get po
      - name: plan
        run:  |
          go get github.com/coreos/go-semver
          go run tools/bump.go 1.2.4 patch
          go run tools/bump.go 1.2.4 minor
          go run tools/bump.go 1.2.4 major
      - name: debug
        run: echo ${{github.ref}}
      - name: apply
        if:  ${{ github.ref == 'refs/heads/main'}}
        run: echo "apply!"
