name: release-deployment
on: repository_dispatch
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      REPOS: a b c d
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: get latest gitops tag
        run: |
           curl -s -H "authorization: Bearer $GITHUB_TOKEN" -H "Accept: application/vnd.github.v3+json" -X GET "https://api.github.com/repos/$GITHUB_REPOSITORY/tags" | jq
      - name: set tag env
        run:  for i in $REPOS; do echo $i; done
      - name: env
        run:  env | sort
      - name: conditional
        if:   endsWith(github.ref, 'master') == true
        run:  echo "yay"
      - name: check gcloud
        run:  gcloud version
