name: release-deployment
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: get helm 3.6.3
        run: |
          curl -s https://get.helm.sh/helm-v3.6.3-linux-amd64.tar.gz | tar xvz --strip-components 1
          mv helm /usr/local/bin/helm
          chmod +x /usr/local/bin/helm
      - name: check helm version
        run:  helm version
      - name: which helm
        run:  which helm
      - name: checkout gitops repo
        uses: actions/checkout@v2
        with:
          repository: worldr/gitops
          path: gitops
          token: ${{ secrets.DELETE_ME }}
      - name: check gitops
        run: ls gitops
      - name: run k3s
        uses: ./gitops/actions/k3s-gha
        with:
          k3s_version: "v1.22.2-rc1+k3s1"
      - name: check
        run:  kubectl get all --all-namespaces
      - name: plan
        run:  |
          go get github.com/coreos/go-semver
          go run tools/bump.go 1.2.4 patch
          go run tools/bump.go 1.2.4 minor
          go run tools/bump.go 1.2.4 major
      - name: debug
        run: echo ${{github.ref}}
      - name: apply
        if:  ${{ github.ref == 'refs/heads/main'}}
        run: echo "apply!"
