name: release-deployment
on:
  push:
    tags:
env:
  KUBEVAL_VERSION: v0.16.1
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: yamllint
        run:  yamllint --version
      - name: path
        run: echo $PATH && echo $GITHUB_WORKSPACE
      - name: get kubeval
        run: |
          mkdir -p /home/runner/.local/bin
          curl -L -s https://github.com/instrumenta/kubeval/releases/download/$KUBEVAL_VERSION/kubeval-linux-amd64.tar.gz | tar xvz --exclude='LICENSE' --exclude='README.md' -C /home/runner/.local/bin
          chmod +x /home/runner/.local/bin/kubeval
      - name: kubeval
        run: kubeval --version
#      - name: pr-donwstream
#        uses: yellowmegaman/pr-downstream@master
#        with:
#          change: "echo $(date) | tee date.txt && ls"
#          title: "title text"
#          pr_branch: "hello5"
#          target_branch: "master"
#          working_directory: "swisszzzzz"
