name: release-deployment
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: plan
        run:  |
          go get github.com/coreos/go-semver
          go run tools/bump.go 1.2.4 patch
          go run tools/bump.go 1.2.4 minor
          go run tools/bump.go 1.2.4 major
      - name: debug
        run: echo ${{github.ref}}
      - name: apply
        if:  ${{ github.ref == 'refs/heads/master'}}
        run: echo "apply!"
