name: release-deployment
on:
  push:
    tags:
      - '*'
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: yamllint
        run:  yamllint --version
#      - name: pr-donwstream
#        uses: yellowmegaman/pr-downstream@master
#        with:
#          change: "echo $(date) | tee date.txt && ls"
#          title: "title text"
#          pr_branch: "hello5"
#          target_branch: "master"
#          working_directory: "swisszzzzz"
