name: release-deployment
on:
  push:
    tags:
      - '*'
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{secrets.TKN}}
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: worldr-changelog
        uses: worldr/changelog@v2
        id: changelog
      - name: debug body
        run:  echo "${{ steps.changelog.outputs.changelog }}"
      - name: pr-donwstream
        uses: yellowmegaman/pr-downstream@master
        with:
          change: "echo $(date) | tee date.txt && ls"
          title: "title text"
          body: "${{ steps.changelog.outputs.changelog }}"
          pr_branch: "hello3"
          target_branch: "master"
          working_directory: "swisszzzzz"
      - name: check env
        run:  env | sort
