name: release-deployment
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  gcs-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
      KUBECONFIG: k3s.yaml
      INSTALL_K3S_VERSION: "v1.21.1+k3s1"
      K3S_TOKEN: "SECRET"
      INSTALL_K3S_EXEC: "server --disable=traefik --disable=servicelb --write-kubeconfig-mode=0644"
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: checkout gitops repo
        uses: actions/checkout@v2
        with:
          repository: worldr/gitops
          path: gitops
          token: ${{ secrets.DELETE_ME }}
      - name: check gitops
        run: ls gitops
      - name: Run my private action
        uses: ./gitops/actions/k3s-gha
        with:
          who-to-greet: emik0
#         custom_registry: false
#         k3s_tag: "latest"
#         kubectl_version: "v1.22.2"
#     - name: try to use kubeconfig
#       run: kubectl get ns
      - name: plan
        run:  |
          go get github.com/coreos/go-semver
          go run tools/bump.go 1.2.4 patch
          go run tools/bump.go 1.2.4 minor
          go run tools/bump.go 1.2.4 major
      - name: debug
        run: echo ${{github.ref}}
      - name: apply
        if:  ${{ github.ref == 'refs/heads/main'}}
        run: echo "apply!"
