name: workflow-release
on: workflow_dispatch
jobs:
  workflow-release:
    name: release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: auto
    steps:
      - name: checkout code
        uses: actions/checkout@master
      - name: env
        run: env | sort
